pandas
tqdm
pyarrow
transformers
accelerate==1.1.0
bitsandbytes
safetensors
ray
ray[serve]
soundfile
jupyter
pillow
librosa
torchcodec
loguru
# vllm installed separately from qwen3_omni fork
python-multipart